<!--This is the completed HTML file -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Insert title here</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
	<section class="hero is-primary">
	  <div class="hero-body">
	    <p class="title"  th:text="${title}">
	      Primary hero
	    </p>
	    <p class="subtitle">
	      Primary subtitle
	    </p>
	  </div>
	</section>
	<section>
		<a class="button mt-4 ml-4" href="form">NEW ITEM</a>
		<table class="table ml-4">
			<tr>
				<th>id</th>
				<th>user_id</th>
				<th>explain</th>
				<th>created_at</th>
				<th>updated_at</th>
				<th>ACTION</th>
			</tr>
			<tr th:each="thread: ${threadList}">
				<td th:text="${thread.id}"></td>
				<td th:text="${thread.user_id}"></td>
				<td th:text="${thread.explain}"></td>
				<td th:text="${thread.created_at}"></td>
				<td th:text="${thread.updated_at}"></td>
				<td>		
					<div class="columns">
						<a class=" column" th:href="@{/post/list/{id}(id=${thread.id})}">post </a>
						<a class=" column" th:href="@{/thread/form/{id}(id=${thread.id})}"> &#9999;</a>
						<form method="POST" th:action="@{/thread/delete}" class=" column">
							<input type="hidden" name="id" th:value="${thread.id}">
							<button class="delete"></button>
						</form>
					</div>
				</td>
			</tr>
		</table>
	</section>
</body>
</html>